.places {
  max-width: 984px;
  margin: 0 auto 64px;
}

@media screen and (min-width:750px){
  .places {
    margin: 0 auto 88px;
  }
}

@media screen and (min-width:1024px){
  .places {
    margin: 0 auto 92px;
  }
}