.place__image {
  width: 100%;
  padding: 0;
  margin: 0 auto 32px;
}

@media screen and (min-width:750px){
  .place__image {
    padding: 0 0 0 24px;
    width: 100%;
    margin: 0;
    grid-column: 1;
    grid-row: 2;
  }
}
