.lead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 984px;
  min-height: auto;
  outline: 0.5px solid beige;
  margin: 0 auto 64px;
}

@media screen and (min-width: 768px) {
    .lead {
      margin: 0 auto 88px;
    }
}

@media screen and (min-width:1000px) {
    .lead {
      margin: 0 auto 92px;
    }
}

@media screen and (min-width:1280px) {
    .lead {

    }
}
