.header {
  display: flex;
  max-width: 1184px;
  margin: 16px 16px 48px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (min-width:600px) {
  .header {
    margin: 28px 24px 56px;
  }
}

@media screen and (min-width:1000px) {
  .header {
    margin: 28px 48px 48px;
  }
}

@media screen and (min-width:1200px) {
  .header {
    margin: 28px 48px 56px;
  }
}
