.header {
  display: flex;
  max-width: 1280px;
  margin: 0 auto 48px;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid gray;
}

@media screen and (min-width:768px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (min-width:1024px) {
  .header {
    padding: 0 48px;
    max-width: 1180px;
  }
}