.place__paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 0 16px 0;
  margin: 0 0 24px;
  box-sizing: border-box;
}



.place__paragraph:last-child {
  margin: 0;
}

@media screen and (min-width:768px){
  .place__paragraph {
    grid-column: 2;
    grid-row: 2;
    width: 352px;
    margin: 0 0 24px;
  }
  .place__paragraph:last-child {
    margin: 0;
  }
}

@media screen and (min-width:1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 29px;
    }
}
