.intro {
    outline: 1px solid navajowhite;
    margin: 0 auto;
    width: 288px;
    min-height: auto;
}

@media screen and (min-width:768px) {
    .intro {
      width: 720px;
    }
}

@media screen and (min-width:1024px) {
    .intro {
      width: 928px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
    }
}

@media screen and (min-width:1280px) {
    .intro {
      width: 984px;
    }
}
