.intro {
  outline: 1px solid navajowhite;
  margin: 0 auto 64px;
  max-width: 984px;
  min-height: auto;
}

@media screen and (min-width:768px) {
    .intro {
      margin: 0 auto 88px;
    }
}

@media screen and (min-width:1024px) {
    .intro {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
      margin: 0 auto 92px;
    }
}

@media screen and (min-width:1280px) {
    .intro {
    }
}
