.place__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width:1024px) and (max-width:1279px){
  .place__content-wrapper {
    align-items: baseline;
  }
}