.place {
  width: 100%;
  min-height: auto;
  margin: 0 auto 48px;
}


@media screen and (min-width:768px){
  .place {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 720px;
    margin: 0 24px 72px;
  }
}

@media screen and (min-width:769px){
  .place {
    margin: 0 auto 80px;
  }
}

@media screen and (min-width:1024px){
  .place {
    width: 928px;
    margin: 0 48px 80px;
    align-items: flex-start;
  }
}
@media screen and (min-width:1280px){
  .place {
    width: 984px;
    margin: 0 auto 80px;
    align-items: flex-start;
  }
}
